@page
@model SistemaBuscador.Pages.UsuariosModel
@{

}

<div class="card">
    <div class="card-header">
        <h3>Usuarios</h3>
        <a asp-page="FormularioUsuario" class="btn btn-primary float-right">
            <i class="bi bi-plus-circle"></i>   
            Nuevo
        </a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model.Usuarios)
                {
                <tr>
                    <td>@usuario.NombreUsuario</td>
                    <td>@usuario.Nombres</td>
                    <td>@usuario.Apellidos</td>
                    <td>@usuario.RolId</td>
                    <td>
                        <a asp-page="ActualizarUsuario" asp-route-id="@usuario.Id" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                        <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>
